{% block navbar %}
<div class="dark:text-white dark:text-opacity-80 xl:mx-72 z-0">
    <nav class="py-4 px-6 flex flex-col sm:flex-row" >
        <div class="flex-auto"> 
            <h1 class="text-2xl font-semibold" ><a href="/">Vedang</a></h1>
        </div>
        <ul class="flex flex-row px-1 py-2 sm:py-0">
            <li class="sm:px-2" >
                <a class="cursor-pointer" id="theme-toggle" >
                    <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path></svg>
                    <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                </a>
            </li>
            <li class="px-2">
                <a class="text-1xl border-b-2 border-transparent hover:border-gray-800 dark:hover:border-white cursor-pointer" id="contact">
                    <span>Contact</span>
                </a>
                <div id ="contact-form" class="border hidden border-gray-400 rounded-md p-3 flex-col fixed z-100 bg-white dark:bg-blackish sm:-mx-40 my-2">
                    <h1 class="text-lg">Contact me</h1>
                    <div class="flex my-2 items-center">
                        <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                            <input type="checkbox" name="toggle" id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"/>
                            <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                        </div>
                        <label for="toggle" class="text-xs text-gray-700 dark:text-white">Encrypt message</label>
                    </div>
                    <form class="flex flex-col dark:text-black" id="contactForm" >
                        <input class="p-2 rounded-md flex-grow border border-gray-600" type="email" placeholder="Email" name="_replyto"/>
                        <textarea id="messageforcontact" class="my-2 p-2 h-64 rounded-md flex-grow border border-gray-600" name="message" form="contactForm" type="text" placeholder="Message"></textarea>
                        <button class="rounded-md bg-blue-300 p-2" type="submit" value="Submit">Submit</button>
                    </form>
                </div>
            </li>
            <li class="px-2" >
                <a class="text-1xl border-b-2 border-transparent hover:border-gray-800 dark:hover:border-white" target="_blank" href="https://vedangj044.github.io/blog/">
                    <span>Blog</span>
                </a>
            </li>
        </ul>
    </nav>

    <script>
        // set initial state
        var button = document.getElementById("theme-toggle");
        var sun = document.getElementById("sun");
        var moon = document.getElementById("moon");
        var root = document.getElementsByTagName('html')[0]
        var key = "dark";

        var contact = document.getElementById("contact");
        var contactForm = document.getElementById("contact-form");

        function dar() {
            sun.style.display = "none";
            moon.style.display = "block";
            root.classList.add("dark");
            localStorage.setItem(key, "true");
        }

        function li() {
            sun.style.display = "block";
            moon.style.display = "none";
            root.classList.remove("dark");
            localStorage.setItem(key, "false");
        }

        if (localStorage.getItem(key) === null) {
            li();
        }
        else if (localStorage.getItem(key) === "false") {
            li();
        }
        else {
            dar();
        }

        button.onclick = function() {
            if (localStorage.getItem(key) === "true") {
                li();
            }
            else {
                dar();
            }
        }

        contact.onclick = function() {

            if (contactForm.style.display == "flex") {
                contactForm.style.display = "none";
            }
            else {
                contactForm.style.display = "flex";
            }
        
        }

        document.onscroll = function() {
            contactForm.style.display = "none";
        }

        // Encryption
        async function encryptPGP() {

const plt = `-----BEGIN PGP PUBLIC KEY BLOCK-----

mQGNBGE0dTEBDADFBXKuZ8C/pMqTOl1jaAqY6J53bqGT4gsHsR+36LV2srgZe/bE
9YTpflBFDV283TGagtLSCRN+zfBZtTZYqPYQjGoMED0FBM9xcYdKjYyZSDT0qjDQ
+pcExibEnSlL7gIrVLDc271qSDI8YCs7MaKbiWtsTj8aF2gptgBuaIxt1fyIlE0y
dgRZQvtdVK/YE6uBDTKIzny40O57DYgqMpZoNtl0W5cH5MWtzgBDAzTHPg06hdtM
4TEDZ+/cHmjXMwGPZcMZPEwao+jW+Up19hbFEJu2RW/6Mdl4pogcoNBMa59U2KyW
NQhqUfEox9UKpSnCZEQYTfXVRgI4UKDV8wyem+6/NqPa1ias5eNNUZeWhs95PMiI
yHp2DLFOopuwro2EQTKdSQNJtR3pNbag/1NwbHIY2tc3W/ZtoOCsNknwm8ro5ylr
znjicWKCQTPC90dovXgAVUk2jcstsWN62C5KlELq+upQ3ltLmjK7bQ/vhGKFnhow
xmaKuUjP3n5FBkEAEQEAAbQwVmVkYW5nIEpvc2hpIChNeSBHUEcga2V5KSA8dmVk
YW5najA0NEBnbWFpbC5jb20+iQHOBBMBCgA4FiEEpB1Ba/5HMb/8UuYQKGei3qRj
nYkFAmE0dTECGwMFCwkIBwIGFQoJCAsCBBYCAwECHgECF4AACgkQKGei3qRjnYlx
5gv/Uu84kM9nso0BAjjZdCI2WECYyFMkKG0OaUe+6C1D0YJ1npoakH4hvwjBxOF6
yYrPoVO1sUIV0u4tas6ul9tG0JTRXrbPmwoD7hHwhr9T+cZgTM89L/xF9wCNKBmJ
UL4PaReTxQBlEp/8+OAB4p/TCiZJ2MYE9530GUpFJIpjGrsG3Djmae17dMivjznd
6EGX69Ta1ldSMPLTX3V8qBGe5CxcftmWLUMEq10hpl1KFV7yUY894JpkTRZrgove
1CXxPkg2UXy5GgkKN3nfA9jlXhbPCgNmJcg8BSzx1yXcOrzostuxrIf065ZrDKdg
29tKbQ/WA7kcy+WPKGPg05zqrZTUg39381ib1oxEf5sNjiIhXEnBXhiL2+vQ+5Ex
BWvcrXGQAT8u8hLZwVFe9B2GJ+RgivykqaCjACyhlRcAShBdqlL9krganoCi7pdm
BWNMYZwsPKzwlWiKc80lnL3ienGa6UWh9y7CzYhHiwyqGwItlWi+P4y27G1/+2Li
J6pPuQGNBGE0dTEBDADA9r4Gq1zVghVQAb4AMFGBkPCu8BC2iSR1f4h+V8N/Ab86
LwRhmcjWDI3wVrWOeV8XqAz4g6ljJjSi9+bVymPA25XCGbynUUVHESLgyE4WPm0S
CRkMd3A/8TYrg6/79E76TMLO6Zh8CHfJLrYB6bJiNZRmBVODyKsHxP+yV8tcxXxt
vzc/rm9/NRaI2r1suctYhW5vBWq+/tUxoRK1LpYOChY6WjZCOWsExCP2u24OQf9p
EItKyX3s9uQK0NHVyWMRgUZk3BcGa1QcatSjoeVx/iACLZBdPZKsVcfEskb2f6wx
dNNa6AVXQpnv3hk9+jFLuOXojPiM7sm7nNhyWblu9o5P13JKtFCT9xYYMsAKg+VZ
D1qr/6Y5/QdqNjtin1O23jM09dGYpQFKIjn2mIT+qZjjsvl7ztHwd2cqlH4E+YXE
A2rH8/vwZPj55ovV7S8iqQJnJBaAdfjLbYG0Se+QL+ZOAPIYAtVoDWbD0XECnjhA
NcDOWr5p8BX4YsyxPd8AEQEAAYkBtgQYAQoAIBYhBKQdQWv+RzG//FLmEChnot6k
Y52JBQJhNHUxAhsMAAoJEChnot6kY52JlLAL/0zC9Q85xCnCsEP3z6cKx+B/i41o
GQ6meuPour1J38WLIdcFTed8qcDUiUlaufUS9jB7V/odeyuFNOlypAkbs/cNylWW
SXRigjSCpgjcbnhjQE4J8an6za4wTVnHG0+ucS9oKsebZOrHi8edId8AvDZhRGJM
c+PnHHBpzrY00PPs/rW9wFCknqatPLPUJ1dHVHCWkicVtjZ2P3zy0K0ADAnzB+0a
zmnRCx5/M1PUwv0YQoV+8Wh6BNaYPhBjOs4E9yYjB6dPX+vE/ry/an8W14wYJ0DB
AZi+ghnnvbsPSTHqrCStGG7+bWJ7zGVg+PGcCS77zqeudO8vylkOfFsEOm9I5MEq
Re1BJvUW86L0FdYxKJL1Uklsxu4cwRZPHRSDvZWsO6U7QR9ePJTP6Tcp+TJSmTRA
SY1S9IL6idS3UYpVVIptyZOZhDCwgmvFWF2hRzMerdxjS4O/TOX7h2YpHSmE1eDb
ThSTEQbRUrvdTkJSfnVX0dQkEHvHeqIk9lLajA==
=cNuE
-----END PGP PUBLIC KEY BLOCK-----`;
            
                const pubkey = await openpgp.readKey({ armoredKey: plt });
                const message = await openpgp.createMessage({ text: document.getElementById('messageforcontact').value });
                const encrypted = await openpgp.encrypt({
                    message: message, // input as Message object
                    encryptionKeys: pubkey, // for encryption
                });

                return encrypted;
        }

        var toggleButton = document.getElementById("toggle");

        // contact form
        var contact = document.getElementById("contactForm");
        contact.onsubmit = async(e) => {
            e.preventDefault();

            const params = new URLSearchParams([...new FormData(e.target).entries()]);

            if (toggleButton.checked) {
                encryptPGP(params.get("message")).then(r => {
                    params.set("message", btoa(r));
                }).then(r => {
                    console.log(params.get("message"));
                    fetch("https://formspree.io/f/moqyverl", {
                        method: "POST",
                        body: params
                    }).then( function() {
                        window.location.assign("https://formspree.io/thanks?language=en")
                    });
                });
            }
            else{
                fetch("https://formspree.io/f/moqyverl", {
                    method: "POST",
                    body: params
                }).then(function() {
                    window.location.assign("https://formspree.io/thanks?language=en")
                });
            }
        }

    </script>
</div>
{% endblock navbar %}